.header {
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.controls {
	display: flex;
	gap: 15px;
}

.form {
	display: flex;
	justify-content: center;
	gap: 15px;
}
